<%= form_for(@barcart) do |f| %>
  <% if @barcart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@barcart.errors.count, "error") %> prohibited this barcart from being saved:</h2>

      <ul>
      <% @barcart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
